
<h2 mat-dialog-title>Add Bank Name</h2>
<mat-dialog-content class="mat-typography">
    <form action="" #add="ngForm" >
        <div class="d-flex">
            <mat-form-field appearance="outline" class="mr-3 d-none">
                <mat-label>Id</mat-label>
                <input matInput name="id" [(ngModel)]="id">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Bank Name</mat-label>
                <input matInput name="bank_name" [(ngModel)]="bank_name">
            </mat-form-field>
            
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button mat-dialog-close color="primary" (click)="add_data(add.value)">Add</button>
</mat-dialog-actions>
