<h2 mat-dialog-title>Get Started With us Today</h2>
<mat-dialog-content class="mat-typography">
    <form action="">
        <div class="d-flex">
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>First Name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email Address</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Monthly Income</mat-label>
            <mat-select>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2)</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
          
        
        <mat-radio-group aria-label="Select an option">
            <mat-radio-button value="1" class="mr-4">Salaried</mat-radio-button>
            <mat-radio-button value="2">Self Employed</mat-radio-button>
          </mat-radio-group>
        
        <mat-form-field appearance="outline">
            <mat-label>Pan Number</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Select City</mat-label>
            <mat-select>
              <mat-option value="option1">Option 1</mat-option>
              <mat-option value="option2">Option 2</mat-option>
              <mat-option value="option3">Option 3</mat-option>
            </mat-select>
          </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial>Apply Now</button>
</mat-dialog-actions>
