<div class="header">
    <div class="container py-5">
       <div class="row">
           <div class="col-lg-6 col-12">
                <h1 class="text-white">Apply Online For Instant
                    Personal Loan</h1>
                <p class="text-white">The best time to celebrate YOU, is now!</p>
                <div class="mt-5">
                <button mat-raised-button color="primary" class="mr-3" (click)="openDialog()">Apply Now</button>
                <button mat-button class="text-white text-bold">T & C Apply</button>
                </div>
           </div>
           <div class="col-lg-4 col-12">
               <div class="text-white">
                <ul class="ml-5 mt-4">
                    <li>Unsecured Loan</li>
                    <li>Interest rate starting from 10.99%</li>
                    <li>Maximum tenure up to 5 years</li>
                    <li>Maximum loan amount up to 50 lacs</li>
                    <li>Quick approval and hassle free Processing</li>
                    <li>Flexible repayment options</li>
                </ul>
   
               </div>
             
           </div>
       </div>
    </div>
</div>

<div class="container my-4">
    <div class="row">
        <div class="col-12">
            <h2>Personal Loans</h2>
            <p>A personal loan is an unsecured loan. In simple terms, personal loan is used to fulfill your financial need without offering any collateral or any sort of security. Like other loans, a person does not have to put up collaterals like goods, assets or gold to avail the personal loan. Instead, a person needs to submit security of 1-2% to the loan service bank or NBFC.</p>
            <p>A personal loan is an unsecured loan. In simple terms, personal loan is used to fulfill your financial need without offering any collateral or any sort of security. Like other loans, a person does not have to put up collaterals like goods, assets or gold to avail the personal loan. Instead, a person needs to submit security of 1-2% to the loan service bank or NBFC.</p>
            <h2>Repayment Period</h2>
            <p>A repayment is the process of returning the borrowed money to the lender. It generally includes principal amount and interest rate. As said, Personal Loans are short to medium term loans to meet your immediate financial needs. So, a borrower can complete the repayment process in less than 2 months to 5-6 years. The repayment period for personal loans depends on the loan amount, EMI, and other company policies.</p>
            <p>For example, if you take a loan of Rs. 3 lakhs at the rate of 13% per annum with repayment tenure of 3 years or 36 months. Your EMI will be Rs. 10,108 per month (including interest rate and loan amount).</p>
            <p>The total payable amount at the end of 3 years would be Rs. 3,63,895/- ( Rs. 10,108 * 36). Therefore, you are paying a total interest amount to the tune of Rs 63,895. This, however, excludes other applicable charges which can be quantified as under: Loan Processing Charges, Documentation charges - 2%</p>
            <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
                <mat-tab label="Personal Loan Eligibility">
                    <p class="mt-3">In order to apply for a personal loan, you need to check some criterion as per the policy of the banks. Different eligibility terms and conditions need to be fulfilled to avail the loan. They can differ depending on the type of bank or NBFC.So, before applying for the loan to check the eligibility and hassle free process further.</p>
                    <table class="table ">
                        <tbody class="table-striped">
                        <tr>
                            <th>Age</th>
                            <td>23/24 years - 60/65 years</td>
                        </tr>
                        <tr>
                            <th>Employment Type</th>
                            <td>Salaried Self-Employed professionals</td>
                        </tr>
                        <tr>
                            <th>Credit score</th>
                            <td>750+ or with a good credit or cibil score history</td>
                        </tr>
                        <tr>
                            <th>Minimum Net Income (Monthly)</th>
                            <td>15,000(non-metro cities 20,000( metro cities)</td>
                        </tr>
                        <tr>
                            <th>Loan Amount</th>
                            <td>Up to 40-50 lacs depending on the credit profile and the applicants profile.</td>
                        </tr>
                        <tr>
                            <th>Work Experience</th>
                            <td><b>Salaried : </b>
                                Employed at current company for at least 6/12 months<br>
                                <b>Self-Employed : </b>
                                Business tenure of at least 3 years (continuous) ITR of last 3 years
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </mat-tab>
                <mat-tab label="Documents Required">
                    <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius animi modi consectetur nobis rerum voluptatum totam dignissimos quam sunt recusandae explicabo, sapiente ab. Illo quisquam eum, commodi adipisci dicta maxime.</p>
                    
                    <table class="table ">
                        <thead>
                            <tr>
                                <th>Documents Required</th>
                                <th>Salaried Individual</th>
                                <th>Self-Employed</th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                        <tr>
                            <td>Salary slips of the last 3 months</td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Last 3 months bank statement till date (reflecting salary credits)</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Identity proof and PAN card (mandatory)</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Residence Proof (Passport, Utility bills, Bank Statements, Postpaid bill, DL, Aadhar Card, Company letterhead stating the address)</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Permanent address proof - (Passport, Utility bills, Bank Statements, Aadhar Card, Company letterhead stating the address)</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Form 16 or Income Tax Returns of last 2 years (not mandatory)</td>
                            <td>Yes</td>
                            <td>No</td>
                        </tr>
                        <tr>
                            <td>Completely filled personal loan application with photograph</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Last 3 years Income Tax Returns with computation of Income</td>
                            <td>No</td>
                            <td>Yes</td>
                        </tr>
                    </tbody>
                    </table>
                </mat-tab>
                <mat-tab label="Personal Loan Details">
                    <p class="mt-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem molestiae quasi eveniet nisi! Iusto voluptas explicabo non consectetur eius distinctio, quis consequatur laudantium ipsam ullam provident suscipit praesentium dolorem atque.</p>
                    <table class="table">
                        <thead>
                            <tr class="bg-light">
                                <th>Personal Loan Details</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-striped">
                        <tr>
                            <th>Interest Rates</th>
                            <td>10.75% - 35%</td>
                            
                        </tr>
                        <tr>
                            <th>Processing Fee</th>
                            <td>It Differs from bank to bank; generally ranges between 1-3% of the loan amount</td>
                            
                        </tr>
                        <tr>
                            <th>Loan Tenure</th>
                            <td>12 months to 60 months</td>
                        </tr>
                        <tr>
                            <th>Loan Amount</th>
                            <td>Starting from 15000 – 30 lacs</td>

                        </tr>
                        <tr>
                            <th>Lock-in period</th>
                            <td>It Varies from lender to lender</td>
                        </tr>
                        <tr>
                            <th>Pre-closure Charges</th>
                            <td>It Differs; Generally between 2%-5% of the loan outstanding</td>
                        </tr>
                        <tr>
                            <th>Guarantor Required</th>
                            <td>It Varies on different conditions</td>
                        </tr>
                    </tbody>
                    </table>
                </mat-tab>
              </mat-tab-group>
    </div>

</div>