    <!-- CAROUSEL -->
    <div class="slider-container">
        <div class="container-slider-image-full  ">
            <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators d-none">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active banner-max-height">
                        <img class="d-block w-100" src="./assets/images/1920x1080.jpg" alt="First slide">
                        <div class="carousel-caption banner__slide-overlay d-flex h-100">
                            <div class="carousel__content">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8 col-md-12 col-sm-12 text-center">
                                            <div class="slider__content-title ">
                                                <h2 data-animation="fadeInDown" data-delay=".2s" data-duration="1000ms"
                                                    class="text-white animated fadeInDown">
                                                    Place for Personal Loan</h2>
                                                <p data-animation="fadeInUp" data-delay=".4s" data-duration="1000ms"
                                                    class="text-white animated fadeInUp">

                                                    Plan Your Own Home With Home Loan
                                                </p>
                                                <a href="#" data-animation="fadeInUp" data-delay=".6s"
                                                    data-duration="1000ms"
                                                    class="btn btn-primary text-uppercase animated fadeInUp">
                                                    Loan Apply
                                                    <i class="fa fa-angle-right arrow-btn "></i></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item banner-max-height">
                        <img class="d-block w-100" src="./assets/images/1920x1080.jpg" alt="Second slide">
                        <div class="carousel-caption banner__slide-overlay d-flex h-100">
                            <div class="carousel__content">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8 col-md-12 col-sm-12 text-center">
                                            <div class="slider__content-title ">
                                                <h2 data-animation="animated fadeInDown"
                                                    class="text-white animated fadeInDown">
                                                    Place for Personal Loan</h2>
                                                <p data-animation="animated fadeInUp"
                                                    class="text-white animated fadeInUp ">

                                                    Fixed Deposit Investment Option
                                                </p>
                                                <a href="#" class="btn btn-primary text-uppercase animated fadeInUp">
                                                    Loan Apply
                                                    <i class="fa fa-angle-right arrow-btn "></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item banner-max-height">
                        <img class="d-block w-100" src="./assets/images/1920x1080.jpg" alt="Third slide">
                        <div class="carousel-caption banner__slide-overlay d-flex h-100">
                            <div class="carousel__content">
                                <div class="container">
                                    <div class="row justify-content-center">
                                        <div class="col-lg-8 col-md-12 col-sm-12 text-center">
                                            <div class="slider__content-title ">
                                                <h2 data-animation="animated fadeInDown"
                                                    class="text-white animated fadeInDown">
                                                    Place for Personal Loan</h2>
                                                <p data-animation="animated fadeInUp"
                                                    class="text-white animated fadeInUp ">

                                                    Fixed Deposit Investment Option
                                                </p>
                                                <a href="#" class="btn btn-primary text-uppercase animated fadeInUp">
                                                    Fixed Deposit
                                                    <i class="fa fa-angle-right arrow-btn "></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span> -->
                <span class="carousel-control-nav-prev">
                    <i class="fa fa-2x fa-angle-left"></i>
                </span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span> -->
                <span class="carousel-control-nav-next">
                    <i class="fa fa-2x fa-angle-right"></i>
                </span>
            </a>
        </div>
    </div>

    <div class="clearfix"></div>
    <!-- END CAROUSEL -->
    <!-- welcome message -->
       <section class="container py-5">
           <div class="row">
               <div class="col-12">
                   <blockquote>
                <h2 class="text-center mb-4"><i>Welcome To Creditmobi</i></h2>
                   <p class="text-center px-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque nemo odio ullam reprehenderit quia, numquam atque fuga quidem ducimus ratione aut doloremque voluptate quasi dolorum repellendus officiis voluptatem delectus iusto. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere molestiae aperiam quaerat debitis, ipsam enim inventore, aut minus voluptatem pariatur, officia facilis adipisci.</p>
                </blockquote>
               </div>
           </div>
       </section>
    <!-- end welcome message -->
    <div class="services pt-4 pb-5" style="background-color: #3454d1;">
         <div class="container mb-4">
             <h2 class="text-center text-white mb-4"><i>Our Services</i></h2>
             <div class="row">
                 <div class="col-lg-2">
                     <div class="card card-i mt-4">
                         <div class="card-body text-center">
                            <img src="./assets/images/product/saving-account.png" alt="" class="img-fluid">
                            <h6 class="text-center mt-3">Savings Account</h6>
                            <a href="credit-card/" class="circle-icon-link shadow border"><i class="arrow"></i></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-2">
                    <div class="card card-i mt-4">
                        <div class="card-body text-center">
                           <img src="./assets/images/product/loan.png" alt="" class="img-fluid">
                           <h6 class="text-center mt-3">Apply For Personal Loan</h6>
                           <a href="credit-card/" class="circle-icon-link shadow border"><i class="arrow"></i></a>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-2">
                    <div class="card card-i mt-4">
                        <div class="card-body text-center">
                           <img src="./assets/images/product/home-loan.png" alt="" class="img-fluid">
                           <h6 class="text-center mt-3">Plan Your Own Home With Home Loan</h6>
                           <a href="credit-card/" class="circle-icon-link shadow border"><i class="arrow"></i></a>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-2">
                    <div class="card card-i mt-4">
                        <div class="card-body text-center">
                           <img src="./assets/images/product/investment.png" alt="" class="img-fluid">
                           <h6 class="text-center mt-3">Fixed Deposit Investment Option</h6>
                           <a href="credit-card/" class="circle-icon-link shadow border"><i class="arrow"></i></a>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-2">
                    <div class="card card-i mt-4">
                        <div class="card-body text-center">
                           <img src="./assets/images/product/trade-demat.png" alt="" class="img-fluid">
                           <h6 class="text-center mt-3">Trade With Demat Account</h6>
                           <a href="credit-card/" class="circle-icon-link shadow border"><i class="arrow"></i></a>
                        </div>
                    </div>
                 </div>
                 <div class="col-lg-2">
                    <div class="card card-i mt-4">
                        <div class="card-body text-center">
                           <img src="./assets/images/product/credit-card.png" alt="" class="img-fluid">
                           <h6 class="text-center mt-3">Life Time Free Credit Cards</h6>
                           <a href="credit-card/" class="circle-icon-link shadow border"><i class="arrow"></i></a>
                        </div>
                    </div>
                 </div>
             </div>
         </div>
    </div>

    <section>
        <div class="container">
            <div class="card__image-filter">
                <div class="filterizr-control">
                    <ul class="list-inline filterizr-filter">
                        <li class="list-inline-item filtr-active btn-filter" (click)="all_f()">All</li>
                        <li class="list-inline-item btn-filter" (click)="credit_f()">Credit Card</li>
                        <li class="list-inline-item btn-filter" (click)="saving_f()">Savings Account</li>                       
                        <li class="list-inline-item btn-filter" (click)="loan_f()">Loan</li>
                        <li class="list-inline-item btn-filter" (click)="investment_f()">Investment</li>
                    </ul>
                </div>
                <ng-container *ngIf="credit">
                
                <h4 class="ml-2 mt-5 text-center"><i>Credit Card</i></h4>
                <div class="row">                                         
                        <div class="col-md-6 col-lg-4 filtr-item">
                            <div class="card__image card__box-v1">
                                <div class="card__image-header h-250">
                                    <img src="./assets/images/card/card1.png" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h5 class="text-capitalize">
                                        Axis Bank Account
                                    </h5>
                                    <h6 class="text-capitalize">
                                        Opening Charges: RS 0
                                    </h6>
                                    <h6 class="text-capitalize">                                       
                                        Interest Rate: 8%
                                    </h6>                                    
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item ">
                                            <button mat-raised-button class="mr-2">More Details</button>
                                            <button mat-raised-button color="primary"><span class="text-white">Apply Now</span></button>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4 filtr-item" data-category="4" data-title="">
                            <div class="card__image card__box-v1">
                                <div class="card__image-header h-250">
                                    <img src="./assets/images/card/card1.png" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h5 class="text-capitalize">
                                        Axis Bank Account
                                    </h5>
                                    <h6 class="text-capitalize">
                                        Opening Charges: RS 0
                                    </h6>
                                    <h6 class="text-capitalize">                                       
                                        Interest Rate: 8%
                                    </h6>                                    
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item ">
                                            <button mat-raised-button class="mr-2">More Details</button>
                                            <button mat-raised-button color="primary"><span class="text-white">Apply Now</span></button>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 filtr-item" data-category="1" data-title="">
                            <div class="card__image card__box-v1">
                                <div class="card__image-header h-250">
                                    <img src="./assets/images/card/card1.png" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h5 class="text-capitalize">
                                        Axis Bank Account
                                    </h5>
                                    <h6 class="text-capitalize">
                                        Opening Charges: RS 0
                                    </h6>
                                    <h6 class="text-capitalize">                                       
                                        Interest Rate: 8%
                                    </h6>                                    
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item ">
                                            <button mat-raised-button class="mr-2">More Details</button>
                                            <button mat-raised-button color="primary"><span class="text-white">Apply Now</span></button>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-container>
                    <ng-container *ngIf="saving">
                        <h4 class="ml-2 mt-5 text-center"><i>Savings Account</i></h4>
                    <div class="row">   
                        <div class="col-md-6 col-lg-4 filtr-item">
                            <div class="card__image card__box-v1">
                                <div class="card__image-header h-250">
                                    <img src="./assets/images/card/card1.png" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h5 class="text-capitalize">
                                        Axis Bank Account
                                    </h5>
                                    <h6 class="text-capitalize">
                                        Opening Charges: RS 0
                                    </h6>
                                    <h6 class="text-capitalize">                                       
                                        Interest Rate: 8%
                                    </h6>                                    
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item ">
                                            <button mat-raised-button class="mr-2">More Details</button>
                                            <button mat-raised-button color="primary"><span class="text-white">Apply Now</span></button>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 filtr-item" data-category="1" data-title="">
                            <div class="card__image card__box-v1">
                                <div class="card__image-header h-250">
                                    <img src="./assets/images/card/card1.png" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h5 class="text-capitalize">
                                        Axis Bank Account
                                    </h5>
                                    <h6 class="text-capitalize">
                                        Opening Charges: RS 0
                                    </h6>
                                    <h6 class="text-capitalize">                                       
                                        Interest Rate: 8%
                                    </h6>                                    
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item ">
                                            <button mat-raised-button class="mr-2">More Details</button>
                                            <button mat-raised-button color="primary"><span class="text-white">Apply Now</span></button>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-4 filtr-item" data-category="1" data-title="">
                            <div class="card__image card__box-v1">
                                <div class="card__image-header h-250">
                                    <img src="./assets/images/card/card1.png" alt="" class="img-fluid w100 img-transition">
                                </div>
                                <div class="card__image-body">
                                    <h5 class="text-capitalize">
                                        Axis Bank Account
                                    </h5>
                                    <h6 class="text-capitalize">
                                        Opening Charges: RS 0
                                    </h6>
                                    <h6 class="text-capitalize">                                       
                                        Interest Rate: 8%
                                    </h6>                                    
                                </div>
                                <div class="card__image-footer">
                                    <ul class="list-inline my-auto ml-auto">
                                        <li class="list-inline-item ">
                                            <button mat-raised-button class="mr-2">More Details</button>
                                            <button mat-raised-button color="primary"><span class="text-white">Apply Now</span></button>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    </ng-container> 

                    <ng-container *ngIf="loan">
                        <h4 class="ml-2 mt-5 text-center"><i>Loan</i></h4>
                        <div class="row">   
                            <div class="col-md-6 col-lg-4 filtr-item">
                                <div class="card__image card__box-v1">
                                    <div class="card__image-header h-250">
                                        <img src="./assets/images/card/card1.png" alt="" class="img-fluid w100 img-transition">
                                    </div>
                                    <div class="card__image-body">
                                        <h5 class="text-capitalize">
                                            Axis Bank Account
                                        </h5>
                                        <h6 class="text-capitalize">
                                            Opening Charges: RS 0
                                        </h6>
                                        <h6 class="text-capitalize">                                       
                                            Interest Rate: 8%
                                        </h6>                                    
                                    </div>
                                    <div class="card__image-footer">
                                        <ul class="list-inline my-auto ml-auto">
                                            <li class="list-inline-item ">
                                                <button mat-raised-button class="mr-2">More Details</button>
                                                <button mat-raised-button color="primary"><span class="text-white">Apply Now</span></button>
                                            </li>
    
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-6 col-lg-4 filtr-item" data-category="1" data-title="">
                                <div class="card__image card__box-v1">
                                    <div class="card__image-header h-250">
                                        <img src="./assets/images/card/card1.png" alt="" class="img-fluid w100 img-transition">
                                    </div>
                                    <div class="card__image-body">
                                        <h5 class="text-capitalize">
                                            Axis Bank Account
                                        </h5>
                                        <h6 class="text-capitalize">
                                            Opening Charges: RS 0
                                        </h6>
                                        <h6 class="text-capitalize">                                       
                                            Interest Rate: 8%
                                        </h6>                                    
                                    </div>
                                    <div class="card__image-footer">
                                        <ul class="list-inline my-auto ml-auto">
                                            <li class="list-inline-item ">
                                                <button mat-raised-button class="mr-2">More Details</button>
                                                <button mat-raised-button color="primary"><span class="text-white">Apply Now</span></button>
                                            </li>
    
                                        </ul>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-md-6 col-lg-4 filtr-item" data-category="1" data-title="">
                                <div class="card__image card__box-v1">
                                    <div class="card__image-header h-250">
                                        <img src="./assets/images/card/card1.png" alt="" class="img-fluid w100 img-transition">
                                    </div>
                                    <div class="card__image-body">
                                        <h5 class="text-capitalize">
                                            Axis Bank Account
                                        </h5>
                                        <h6 class="text-capitalize">
                                            Opening Charges: RS 0
                                        </h6>
                                        <h6 class="text-capitalize">                                       
                                            Interest Rate: 8%
                                        </h6>                                    
                                    </div>
                                    <div class="card__image-footer">
                                        <ul class="list-inline my-auto ml-auto">
                                            <li class="list-inline-item ">
                                                <button mat-raised-button class="mr-2">More Details</button>
                                                <button mat-raised-button color="primary"><span class="text-white">Apply Now</span></button>
                                            </li>
    
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </ng-container> 
                        <ng-container *ngIf="investment" >
                            <h4 class="ml-2 mt-5 text-center"><i>Investment</i></h4>
                            <div class="row">   
                                <div class="col-md-6 col-lg-4 filtr-item">
                                    <div class="card__image card__box-v1">
                                        <div class="card__image-header h-250">
                                            <img src="./assets/images/card/card1.png" alt="" class="img-fluid w100 img-transition">
                                        </div>
                                        <div class="card__image-body">
                                            <h5 class="text-capitalize">
                                                Axis Bank Account
                                            </h5>
                                            <h6 class="text-capitalize">
                                                Opening Charges: RS 0
                                            </h6>
                                            <h6 class="text-capitalize">                                       
                                                Interest Rate: 8%
                                            </h6>                                    
                                        </div>
                                        <div class="card__image-footer">
                                            <ul class="list-inline my-auto ml-auto">
                                                <li class="list-inline-item ">
                                                    <button mat-raised-button class="mr-2">More Details</button>
                                                    <button mat-raised-button color="primary"><span class="text-white">Apply Now</span></button>
                                                </li>
        
                                            </ul>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-md-6 col-lg-4 filtr-item">
                                    <div class="card__image card__box-v1">
                                        <div class="card__image-header h-250">
                                            <img src="./assets/images/card/card1.png" alt="" class="img-fluid w100 img-transition">
                                        </div>
                                        <div class="card__image-body">
                                            <h5 class="text-capitalize">
                                                Axis Bank Account
                                            </h5>
                                            <h6 class="text-capitalize">
                                                Opening Charges: RS 0
                                            </h6>
                                            <h6 class="text-capitalize">                                       
                                                Interest Rate: 8%
                                            </h6>                                    
                                        </div>
                                        <div class="card__image-footer">
                                            <ul class="list-inline my-auto ml-auto">
                                                <li class="list-inline-item ">
                                                    <button mat-raised-button class="mr-2">More Details</button>
                                                    <button mat-raised-button color="primary"><span class="text-white">Apply Now</span></button>
                                                </li>
        
                                            </ul>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="col-md-6 col-lg-4 filtr-item">
                                    <div class="card__image card__box-v1">
                                        <div class="card__image-header h-250">
                                            <img src="./assets/images/card/card1.png" alt="" class="img-fluid w100 img-transition">
                                        </div>
                                        <div class="card__image-body">
                                            <h5 class="text-capitalize">
                                                Axis Bank Account
                                            </h5>
                                            <h6 class="text-capitalize">
                                                Opening Charges: RS 0
                                            </h6>
                                            <h6 class="text-capitalize">                                       
                                                Interest Rate: 8%
                                            </h6>                                    
                                        </div>
                                        <div class="card__image-footer">
                                            <ul class="list-inline my-auto ml-auto">
                                                <li class="list-inline-item ">
                                                    <button mat-raised-button class="mr-2">More Details</button>
                                                    <button mat-raised-button color="primary"><span class="text-white">Apply Now</span></button>
                                                </li>
        
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </ng-container> 
                </div>
                
            </div>
            <div class="clearfix"></div>
        
        
    </section>


    <!-- VIDEO -->
    <section class="" style="background-color: #3454d1;" >
        <div style="background-color: #3454d1;">
        <div class="container">
            <div class="">
                <h2 class="text-center text-capitalize mb-4 text-white">
                    <i>Loan Calculator</i>
                </h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="form-main mb-3">
                            <form action="">
                                <mat-form-field appearance="outline">
                                    <mat-label>Loan Amount</mat-label>
                                    <input matInput placeholder="Ex: 1,00,000" value="">
                                </mat-form-field><br>
                                <mat-form-field appearance="outline">
                                    <mat-label>Interest Rate</mat-label>
                                    <input matInput placeholder="Ex: 10%" value="">
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Tenure</mat-label>
                                    <input matInput placeholder="Ex: 1" value="">
                                </mat-form-field>
                            </form>
                            </div>
                            <mat-divider></mat-divider>
                            <div align="end" class="mt-3">
                                <button mat-raised-button class="mr-2">Clear</button>
                                <button mat-raised-button color="primary">Calculate</button>
                                
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="mt-3">
                            <h3 class="text-center">Result</h3>
                            <mat-divider class="mb-5 mx-auto" style="width: 50%;"></mat-divider>
                            <h5><i>EMI </i><span class="float-right">Rs15000</span></h5>
                            <mat-divider class="mb-2"></mat-divider>
                            <h5><i>Interest Payable</i> <span class="float-right">Rs150</span></h5>
                            <mat-divider class="mb-2"></mat-divider>
                            <h5><i>Total Amount Payble</i> <span class="float-right">Rs15150</span></h5>
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- END VIDEO -->


    <!-- BRAND PARTNER -->
    <!-- <section class="projects__partner bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="title__head">
                        <h2 class="text-center text-capitalize">our partners</h2>
                        <p class="text-center text-capitalize">Brand Partners Successful Projects Trusted Many Clients
                            Real Estate</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                      <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide style="height: 125px; padding: 15px; width: 232px;"><div class="d-flex justify-content-center align-items-center bg-white py-4 mr-3 img-parent"><img class="img-fluid" src="{{images[5].path}}" ></div></ng-template>  
                        <ng-template carouselSlide style="height: 125px; padding: 15px; width: 232px;"><div class="d-flex justify-content-center align-items-center bg-white py-4 mr-3 img-parent"><img class="img-fluid " src="{{images[1].path}}"></div></ng-template>   
                        <ng-template carouselSlide style="height: 125px; padding: 15px; width: 232px;"><div class="d-flex justify-content-center align-items-center bg-white py-4 mr-3 img-parent"><img class="img-fluid " src="{{images[2].path}}"></div></ng-template>  
                        <ng-template carouselSlide style="height: 125px; padding: 15px; width: 232px;"><div class="d-flex justify-content-center align-items-center bg-white py-4 mr-3 img-parent"><img class="img-fluid " src="{{images[3].path}}"></div></ng-template>
                        <ng-template carouselSlide style="height: 125px; padding: 15px; width: 232px;"><div class="d-flex justify-content-center align-items-center bg-white py-4 mr-3 img-parent"><img class="img-fluid " src="{{images[4].path}}"></div></ng-template>   
                      </owl-carousel-o>
                </div>
            </div>
        </div>
    </section> -->
    <!-- END BRAND PARTNER -->

    <!-- TESTIMONIAL -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 mx-auto">
                    <div class="title__head">
                        <h2 class="text-center text-capitalize">
                            what people says
                        </h2>
                        <p class="text-center text-capitalize">people says about walls property.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="testimonial owl-carousel owl-theme">
                <!-- TESTIMONIAL -->
                <div class="item testimonial__block">
                    <div class="testimonial__block-card bg-reviews">
                        <p>
                            Thank you walls property help me, choice dream home We were impressed with the build
                            quality, Plus they are competitively priced.
                        </p>
                    </div>
                    <div class="testimonial__block-users">
                        <div class="testimonial__block-users-img">
                            <img src="./assets/images/80x80.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="testimonial__block-users-name">
                            jhon doe <br>
                            <span>owner, digital agency</span>
                        </div>
                    </div>
                </div>
                <!-- END TESTIMONIAL -->
                <!-- TESTIMONIAL -->
                <div class="item testimonial__block">
                    <div class="testimonial__block-card bg-reviews">
                        <p>
                            Thank you walls property help me, choice dream home We were impressed with the build
                            quality, Plus they are competitively priced.
                        </p>
                    </div>
                    <div class="testimonial__block-users">
                        <div class="testimonial__block-users-img">
                            <img src="./assets/images/80x80.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="testimonial__block-users-name">
                            jhon doe <br>
                            <span>owner, digital agency</span>
                        </div>
                    </div>
                </div>
                <!-- END TESTIMONIAL -->
                <!-- TESTIMONIAL -->
                <div class="item testimonial__block">
                    <div class="testimonial__block-card bg-reviews">
                        <p>
                            Thank you walls property help me, choice dream home We were impressed with the build
                            quality, Plus they are competitively priced.
                        </p>
                    </div>
                    <div class="testimonial__block-users">
                        <div class="testimonial__block-users-img">
                            <img src="./assets/images/80x80.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="testimonial__block-users-name">
                            jhon doe <br>
                            <span>owner, digital agency</span>
                        </div>
                    </div>
                </div>
                <!-- END TESTIMONIAL -->
                <!-- TESTIMONIAL -->
                <div class="item testimonial__block">
                    <div class="testimonial__block-card bg-reviews">
                        <p>
                            Thank you walls property help me, choice dream home We were impressed with the build
                            quality, Plus they are competitively priced.
                        </p>
                    </div>
                    <div class="testimonial__block-users">
                        <div class="testimonial__block-users-img">
                            <img src="./assets/images/80x80.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="testimonial__block-users-name">
                            jhon doe <br>
                            <span>owner, digital agency</span>
                        </div>
                    </div>
                </div>
                <!-- END TESTIMONIAL -->
                <!-- TESTIMONIAL -->
                <div class="item testimonial__block">
                    <div class="testimonial__block-card bg-reviews">
                        <p>
                            Thank you walls property help me, choice dream home We were impressed with the build
                            quality, Plus they are competitively priced.
                        </p>
                    </div>
                    <div class="testimonial__block-users">
                        <div class="testimonial__block-users-img">
                            <img src="./assets/images/80x80.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="testimonial__block-users-name">
                            jhon doe <br>
                            <span>owner, digital agency</span>
                        </div>
                    </div>
                </div>
                <!-- END TESTIMONIAL -->

            </div>
        </div>
    </section>
    <!-- END TESTIMONIAL -->



    <!-- BLOG -->
    <section class="blog__home bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6 mx-auto">
                    <div class="title__head">
                        <h2 class="text-center text-capitalize">
                            <i>Our Blog</i>
                        </h2>
                        <!-- <p class="text-center text-capitalize">Find Of The Most Popular Real Estate Company All Around
                            Indonesia.</p> -->
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!-- BLOG  -->
                    <div class="card__image">
                        <div class="card__image-header h-250">
                            <img src="./assets/images/500x400.jpg" alt="" class="img-fluid w100 img-transition">
                            <div class="info"> event</div>
                        </div>
                        <div class="card__image-body">
                            <!-- <span class="badge badge-secondary p-1 text-capitalize mb-3">May 08, 2019 </span> -->
                            <h6 class="text-capitalize">
                                <a href="/blog-single.html">Best Interior Oppertunity </a>
                            </h6>
                            <p class=" mb-0">
                                Real estate festival is one of the famous feval for explain to you how all this mistaolt
                                deand praising pain
                                wasnad I will give complete

                            </p>


                        </div>
                        <div class="card__image-footer">
                            <figure>
                                <img src="./assets/images/80x80.jpg" alt="" class="img-fluid rounded-circle">
                            </figure>
                            <ul class="list-inline my-auto">
                                <li class="list-inline-item ">
                                    <a href="#">
                                        tom wilson
                                    </a>

                                </li>

                            </ul>
                            <ul class="list-inline my-auto ml-auto">
                                <li class="list-inline-item ">
                                    <a href="/blog-single.html" class="btn btn-sm btn-primary "><small
                                            class="text-white ">read more <i
                                                class="fa fa-angle-right ml-1"></i></small></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- END BLOG -->
                </div>
                <div class="col-md-4">
                    <!-- BLOG  -->
                    <div class="card__image">
                        <div class="card__image-header h-250">
                            <img src="./assets/images/500x400.jpg" alt="" class="img-fluid w100 img-transition">
                            <div class="info"> event</div>
                        </div>
                        <div class="card__image-body">
                            <!-- <span class="badge badge-secondary p-1 text-capitalize mb-3">May 08, 2019 </span> -->
                            <h6 class="text-capitalize">
                                <a href="#">Tips & Trick buy real estate </a>
                            </h6>
                            <p class=" mb-0">
                                Real estate festival is one of the famous feval for explain to you how all this mistaolt
                                deand praising pain
                                wasnad I will give complete

                            </p>


                        </div>
                        <div class="card__image-footer">
                            <figure>
                                <img src="./assets/images/80x80.jpg" alt="" class="img-fluid rounded-circle">
                            </figure>
                            <ul class="list-inline my-auto">
                                <li class="list-inline-item">
                                    <a href="#">
                                        tom wilson
                                    </a>

                                </li>

                            </ul>
                            <ul class="list-inline my-auto ml-auto">
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-sm btn-primary "><small class="text-white ">read more <i
                                                class="fa fa-angle-right ml-1"></i></small></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- END BLOG -->
                </div>
                <div class="col-md-4">
                    <!-- BLOG  -->
                    <div class="card__image">
                        <div class="card__image-header h-250">
                            <img src="./assets/images/500x400.jpg" alt="" class="img-fluid w100 img-transition">
                            <div class="info"> event</div>
                        </div>
                        <div class="card__image-body">
                            <!-- <span class="badge badge-secondary p-1 text-capitalize mb-3">May 08, 2019 </span> -->
                            <h6 class="text-capitalize">
                                <a href="#">Our Must Popular Deluxe House </a>
                            </h6>
                            <p class=" mb-0">
                                Real estate festival is one of the famous feval for explain to you how all this mistaolt
                                deand praising pain
                                wasnad I will give complete

                            </p>


                        </div>
                        <div class="card__image-footer">
                            <figure>
                                <img src="./assets/images/80x80.jpg" alt="" class="img-fluid rounded-circle">
                            </figure>
                            <ul class="list-inline  my-auto">
                                <li class="list-inline-item">
                                    <a href="#">
                                        tom wilson
                                    </a>

                                </li>

                            </ul>
                            <ul class="list-inline  my-auto ml-auto">
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-sm btn-primary "><small class="text-white ">read more <i
                                                class="fa fa-angle-right ml-1"></i></small></a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- END BLOG -->
                </div>
            </div>
        </div>
    </section>
    <!-- END BLOG -->
    <section class="projects__partner carousel">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <div class="title__head">
                        <h2 class="text-center text-capitalize"><i>our partners</i></h2>
                        <p class="text-center text-capitalize">Brand Partners Successful Projects Trusted Many our banking partners
                            </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                      <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide style="height: 125px; padding: 15px; width: 232px;"><div class="d-flex justify-content-center align-items-center bg-white py-4 mr-3 img-parent"><img class="img-fluid" src="{{images[5].path}}" ></div></ng-template>  
                        <ng-template carouselSlide style="height: 125px; padding: 15px; width: 232px;"><div class="d-flex justify-content-center align-items-center bg-white py-4 mr-3 img-parent"><img class="img-fluid " src="{{images[1].path}}"></div></ng-template>   
                        <ng-template carouselSlide style="height: 125px; padding: 15px; width: 232px;"><div class="d-flex justify-content-center align-items-center bg-white py-4 mr-3 img-parent"><img class="img-fluid " src="{{images[2].path}}"></div></ng-template>  
                        <ng-template carouselSlide style="height: 125px; padding: 15px; width: 232px;"><div class="d-flex justify-content-center align-items-center bg-white py-4 mr-3 img-parent"><img class="img-fluid " src="{{images[3].path}}"></div></ng-template>
                        <ng-template carouselSlide style="height: 125px; padding: 15px; width: 232px;"><div class="d-flex justify-content-center align-items-center bg-white py-4 mr-3 img-parent"><img class="img-fluid " src="{{images[4].path}}"></div></ng-template>   
                      </owl-carousel-o>
                </div>
            </div>
    </div>
    </section>
    <!-- CALL TO ACTION -->
    <section class="cta-v1 py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-9">
                    <h2 class="text-uppercase text-white">Looking For Loan Or Investment?</h2>
                    <p class="text-capitalize text-white">We Will Assist You In The Best And Comfortable Loan
                        Services
                        For You
                    </p>

                </div>
                <div class="col-lg-3">
                    <a href="#" class="btn btn-light text-uppercase ">request a quote
                        <i class="fa fa-angle-right ml-3 arrow-btn "></i></a>
                </div>
            </div>
        </div>
    </section>
    <!-- END CALL TO ACTION -->
