
.search{
    background-color: #f4f4fa;
    padding: 15px 10px 0px 10px;
    border-radius: 10px;

}
mat-form-field{
    width: 100%;
    
}
mat-card{
    box-shadow: 0px 10px 20px red;
    background-color: #f6f6f8;
}
example-card{
    border: 1px solid #dee2e6;
}

::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}
mat-card-title{
    font-size: 20px;
}
mat-card-subtitle{
    font-weight: 500;

}